.bascketBackground {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .basket {
        border-radius: 25px;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        background-color: white;
        padding: 20px 40px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn-close {
                font-weight: 800;
                font-size: 20px;
                cursor: pointer;
            }
        }
        &-items {
            display: flex;
            padding: 20px 30px;
            .calculator {
                width: 35%;
                border: 1px lightgray;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 400px;
            }
            .itemss {
                margin-left: 5%;
                width: 60%;
                height: 400px;
                overflow-y: scroll;
            }
            &-item {
                display: flex;
                img {
                    width: 220px;
                }
                justify-content: flex-start;
                .texts {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .item-header {
                        font-size: 22px;
                    }
                    .item-cost {
                        font-size: 18px;
                        margin-top: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
