.bascketBackground {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .basket {
        border-radius: 25px;
        width: 800px;
        max-height: 80vh;
        min-height: 40vh;
        max-width: 100%;
        margin: 0 auto;
        background-color: white;
        padding: 20px 40px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn-close {
                font-weight: 800;
                font-size: 20px;
                cursor: pointer;
            }
        }
        &-items {
            display: flex;
            flex-direction: row;
            .calculator {
                width: 35%;
                border: 1px lightgray;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .itemss {
                width: 70%;
                max-height: 70vh;
                min-height: 40vh;
                padding-right: 20px;
                overflow-y: scroll;
                .exit {
                    display: flex;
                    align-self: end;
                }
            }
            &-item {
                border-bottom: 2px solid rgb(255, 238, 252);
                padding: 14px 0;
                display: flex;

                justify-content: space-between;

                .headers {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: right;
                }
                img {
                    height: 100px;
                }
                .texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    .item-header {
                        font-size: 18px;
                    }
                    .item-cost {
                        font-size: 16px;
                        margin-top: 20px;
                        font-weight: 600;
                    }
                    .options {
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        margin-top: 16px;
                        .count {
                            width: 40px;
                            display: flex;
                            justify-content: space-around;
                            cursor: pointer;
                            margin-right: 20px;
                        }
                        .exit {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
