@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../fonts/Montserrat-Regular.ttf) format('woff');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: local('Montserrat Bold'), url(../fonts/Montserrat-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: local('Montserrat ExtraBold'), url(../fonts/Montserrat-SemiBold.ttf) format('woff');
}

@font-face {
    font-family: 'Montserrat Black';
    src: local('Montserrat Black'), url(../fonts/Montserrat-Black.ttf) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(../fonts/OpenSans-Regular.ttf) format('woff');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: local('Open Sans'), url(../fonts/OpenSans-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: local('Open Sans ExtraBold'), url(../fonts/OpenSans-ExtraBold.ttf) format('woff');
}

@font-face {
    font-family: 'Open Sans Light';
    src: local('Open Sans Light'), url(../fonts/OpenSans-Light.ttf) format('woff');
}
